<div #main_wrap class="main_wrapper">
  <div class="sense_symbol">
    <h1 [ngStyle]="senses.displaySense ? senses.setSenseStyle() : null">
      {{ senses.currentSense.symbol }}
    </h1>
  </div>
  <div class="btn_wrapper">
    <button
      type="button"
      (mouseenter)="onMouseHover()"
      (click)="onClick(senses.senseSymbols.danger)"
    >
      Danger
    </button>
    <button
      type="button"
      (mouseenter)="onMouseHover()"
      (click)="onClick(senses.senseSymbols.poison)"
    >
      Poison
    </button>
    <button
      type="button"
      (mouseenter)="onMouseHover()"
      (click)="onClick(senses.senseSymbols.heal)"
    >
      Heal
    </button>
    <button
      type="button"
      (mouseenter)="onMouseHover()"
      (click)="onClick(senses.senseSymbols.burn)"
    >
      Burn
    </button>
    <button
      type="button"
      (mouseenter)="onMouseHover()"
      (click)="onClick(senses.senseSymbols.death)"
    >
      Death
    </button>
  </div>
</div>
